@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

.gingertonic-logo {
  margin: 4vh;
  animation: App-logo-spin infinite 5s linear;
  height: 40vmin;
  border-radius: 25%;
  -webkit-box-shadow: 0px 0px 43px 7px rgba(194,152,46,1);
-moz-box-shadow: 0px 0px 43px 7px rgba(194,152,46,1);
box-shadow: 0px 0px 43px 7px rgba(194,152,46,1);
}

.App {
  font-family: 'Amatic SC', cursive;
  text-align: center;
  background-image: url('/banana-desk.jpg');
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-shadow: 0 0 10px #8e4600, 0 0 20px #8e4600, 0 0 30px darkorange, 0 0 40px #282c34;
}

.App-link {
  text-shadow: none;
}

#tag-line {
  font-size: 0.8em;
}

.social {
  height: 3em;
  width: 3em;
  margin-right: 1em;
}

#socials {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
}

@keyframes App-logo-spin {
  0% {
    transform: rotate(-3deg);
  }
  45% {
    transform: rotate(2deg)
  }
  50% {
    transform: rotate(3deg);
  }
  95% {
    transform: rotate(-2deg)
  }
  100% {
    transform: rotate(-3deg);
  }
}

#introvid {
  -moz-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  z-index: 3;
  position: absolute;
  left: 4em;
  top: 3em;
  transform: rotateX(15deg);
  /* border-radius: 15%; */
}

.closed {
  width: 1em;
  height: 0.75em;
  opacity: 0;
}

.open {
  width: 16em;
  height: 11em;
  opacity: 0.9;
  box-shadow: 6px 6px 8px -2px #282c34, 7px 7px 6px -2px #8e4600;
}

#nav {
  display: flex;
  margin-bottom: 2vh;
}

.nav-link {
  margin: 0 2vw;
}

#inner-view {
  display: flex;
  height: 70vh;
  width: 70vw;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  scroll-behavior: smooth;
  overflow: auto;
  background-color: rgba(255,120,0,0.4);
  padding: 1vw;
}

.project-card, .blogpost-card {
  /* border: 1px solid orange; */
  /* height: 30vh; */
  width: 30%;
}

.project-image, .blogpost-image {
  height: 30vh;
  width: 30vh;
  /* border: 1px solid orange; */
  object-fit: cover;
}

#main {
  display: block;
}

.centered {
  margin: 0 auto;
}

a {
  text-decoration: none;
  font-size: 0.75em;
}

.bio-para {
  width: 100%;
  color: black;
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px darkorange, 0 0 40px #282c34;
}
